body {
    box-sizing: border-box;
    margin: 0 auto;
}

#top {
    display: flex;
    border: 3px solid black;
    height: 25vh;
    margin: 0.6em;
}

.purple {
    background-color: rgb(114, 31, 139);
    margin-left: 1%;
    margin-right: 3%;
    margin-bottom: 0.8%;
    width: 3%;
    height: 10em;
    align-self: flex-end;
}

.green {
    background-color: green;
    width: 35%;
    height: 90%;
    align-self: center;
    margin-right: 3%;
}

.blue {
    background-color: lightblue;
    height: 90%;
    width: 270px;
    border-radius: 50%;
    align-self: center;
}

#middle {
    border: 2px dotted black;
    display: flex;
    height: 30vh;
    margin: 0.6em;
    justify-content: center;
}

.yellow-box {
    background-color: rgb(255, 253, 205);
    height: 70%;
    width: 95%;
    align-self: center;
    box-shadow: 10px 10px 10px black;
}

#bottom {
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.box {
    margin-top: 30px;
    border: 1px solid lightgrey;
    width: 30vw;
    height: 30vh;
    box-shadow: 5px 5px 5px lightgrey;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Times New Roman', Times, serif,;
    color: darkblue;
    margin-top: 125px;
    letter-spacing: 5px;
    inline-size: 150px;
    margin-left: 200px;
}